h1
{
	color: rgba(20,34,90,1);
  /*border-width: 3px;
  border-color:rgba(10,34,250,.3);
  border-style: solid;

background:url(https://www.clairol.com/m/master/products/new_swatches/00070018116871.png);
 */
background-size: cover;
}
body
{text-align:left;
       width:150px;
       display:block;
           float:left;
           clear:right;
       font-size:16px;
	
background: url(https://cdn.pixabay.com/photo/2016/03/26/13/09/organic-1280537_960_720.jpg);
background-repeat: no-repeat;
background-size:cover;
 width:100%;
    height:"auto";

}
form{
	  position: absolute;
  width: 200px;
  height:300 px;
 
  top: 50%;  
  left: 50%;
  margin: -100px 0 0 -100px;
  background:;


}
h1
{
  border: 1px black;
}
.link
{
background-color:rgba(255,255,255,.3);
width:9%;
height: 50%;
padding-left:30px; 
margin:3px;
float:right;
}